{% load static%}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Elite Homework Master Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'admin_css/sb-admin-2.min.css' %}" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

</head>
{% if request.user.is_staff  or request.user.is_superuser %}
<body id="page-top">
  
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-warning sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
          <i class="fas fa-home"></i>
        </div>
        <div class="sidebar-brand-text mx-3">  Elite Homework Master <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-user"></i>
          <span>Admin Dashboard </span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Clients:</h6>
            <a class="collapse-item" href="{% url 'chat:orders' %}">Order Manager</a>
          </div>
        </div>
      </li>
      {% endif %}

      {% if request.user.is_staff and not request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <i class="fas fa-fw fa-user"></i>
          <span>Writers Dashboard </span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Writers:</h6>
            <a class="collapse-item" href="{% url 'chat:orders' %}">Order Manager</a>
          </div>
        </div>
      </li>
      {% endif %}
      
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                {% for notification in notificationset%}
                {% for chat in notification.chatmessage_set.all %}
                {% if chat.notification is not None and forloop.last  %}
                <span class="badge badge-danger badge-counter">New</span>
                {% else %}
                <span class="badge badge-success badge-counter">No</span>
                {% endif %}
                {% endfor %}
                {% endfor %}

                
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <ul id="notify" class="p-2">
                </ul>

                
              </li>
              
           
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.username}}</span>
                <i class="fa fa-user"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'authentication:profile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'authentication:logout' %}" >
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        {% endif %}
        {% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Direct
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Social
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
        {% endblock content %}

      </div>
      <!-- End of Main Content -->
      
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
  

  </script>

  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
  <!-- You can alternatively load the minified version -->
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <!-- Page level plugins -->

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'admin_js/sb-admin-2.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script> -->
  <script src="{% static 'reconnecting-websocket.js' %}"></script>
  
  <script src="https://www.paypal.com/sdk/js?client-id={{client_id}}" ></script> 
  
  <script>
  
  
  $(function () {    
        // Update level buttons
        $(".issue_quote").each(function () {
          $(this).modalForm({formURL:$(this).data('id')});
        });
        $(".assign_writer").each(function () {
          $(this).modalForm({formURL:$(this).data('id')});
        });
        $(".upload_assignment").each(function () {
          $(this).modalForm({formURL:$(this).data('id')});
        });
      });
      
      var loc=window.location
      console.log(loc)
      var formData=$("#form")
      var msgInput=$("#id_message")
      var notification_result=$("#id_notification_result")
      var assignment_id_result=$("#id_assignment_result")
      var assignment_creator_result=$("#id_assignment_creator_result")
      var assignment_writer_result=$("#id_assignment_writer_result")
      var assignment_support_result=$("#id_assignment_support_result")
      var payment_status_result=$("#id_payment_status_result")
      var viewed_result=$("#id_viewed_result")
      var notify=$("#notify")
      var client_notify=$("#client_notification")
      var writer_notify=$("writer_notification")
      var notification=$("#notification")
      var chatHolder=$("#chat-items")
      var chatReceiver=$("#chat-receiver")
      var me=$("#myUsername").val()
      
      var wsStart='ws://'
        if (loc.protocol=='https:'){
          wsStart='wss://'
      }
      var endpoint=wsStart+loc.host+loc.pathname;
      var socket=new ReconnectingWebSocket(endpoint);
      console.log(endpoint)
      
      socket.onmessage=function(e){
          console.log("message",e)
          console.log(e.data)
          var chatDataMsg=JSON.parse(e.data)
          var msgListTag = document.createElement('li');
          var pTag = document.createElement('p');
          var notificationListTag=document.createElement('li');
          var notificationparagraph=document.createElement('p');
          pTag.textContent = chatDataMsg.message;
          notificationparagraph.textContent=chatDataMsg.notification;
          

          if (chatDataMsg.username === me) {
            msgListTag.className = 'chat-items';
          } else if (chatDataMsg.assignment_writer==me) {
            msgListTag.className = 'chat-items';
          }else{
            msgListTag.className = 'chat-receiver';
            var str =chatDataMsg.notification;
            if (chatDataMsg.notification != null){
              var client_or_writer = str.link('/chat/channel/'+chatDataMsg.assignment_support+'/'+chatDataMsg.assignment_id+'/?read=True' );
              var support= str.link('/chat/channel/'+chatDataMsg.assignment_creator+'/'+chatDataMsg.assignment_id+'/?read=True' );
              notify.append(support);
              client_notify.append(client_or_writer);
              writer_notify.append(client_or_writer);
              var audio = new Audio('https://res.cloudinary.com/actserv/video/upload/v1597058018/notifications/swiftly_uojbjg.mp3');
              audio.play();
            }
          }

          if (chatDataMsg.notification != null){
            notificationListTag.className='text-center text-success'
          }

          msgListTag.appendChild(pTag);
          notificationListTag.appendChild(notificationparagraph);
          document.querySelector('#chat-msg').appendChild(msgListTag);
          
          
      }
      socket.onopen=function(e){
          console.log("open",e)
          
          formData.submit(function(event){
              var msgText=msgInput.val()  
              var notification_data=notification_result.val()
              var assignment_id_data=assignment_id_result.val()
              var assignment_creator_data=assignment_creator_result.val()
              var assignment_writer_data=assignment_writer_result.val()
              var assignment_support_data=assignment_support_result.val()
              var payment_status_data=payment_status_result.val()
              var viewed_data=viewed_result.val()
              event.preventDefault();
              var formDataSerialized=formData.serialize()
              var finalData={
                  "message":msgText,
                  "notification":notification_data,
                  "assignment_id":assignment_id_data,
                  "assignment_support":assignment_support_data,
                  "assignment_creator":assignment_creator_data,
                  "assignment_writer":assignment_writer_data,
                  "payment_status":payment_status_data,
                  "viewed":viewed_data
              } 
              socket.send(JSON.stringify(finalData))
              formData[0].reset()
          })
      }
      socket.onerror=function(e){
          console.log("error",e)
          console.log(formData)
      }
      socket.onclose=function(e){
          console.log("close",e)
      }
  
  const assignment_id = document.getElementById('assignment-id').value
  
  console.log(assignment_id)
  
  
  paypal.Buttons({
  
      // Call your server to set up the transaction
      createOrder: function(data, actions) {
          return fetch('/assignments/processing/payment/'+assignment_id+'/', {
              method: 'post'
          }).then(function(res) {
              return res.json();
          }).then(function(orderData) {
              return orderData.id;
          });
      },
  
      // Call your server to finalize the transaction
      onApprove: function(data, actions) {
          return fetch('/assignments/capture/'+data.orderID+'/' +assignment_id+'/', {
              method: 'post'
          }).then(function(res) {
              return res.json();
          }).then(function(orderData) {
              // Three cases to handle:
              //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
              //   (2) Other non-recoverable errors -> Show a failure message
              //   (3) Successful transaction -> Show a success / thank you message
  
              // Your server defines the structure of 'orderData', which may differ
              var errorDetail = Array.isArray(orderData.details) && orderData.details[0];
  
              if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                  // Recoverable state, see: "Handle Funding Failures"
                  // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                  return actions.restart();
              }
  
              if (errorDetail) {
                  if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                  var msg = 'Sorry, your transaction could not be processed.';
                  if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                  // Show a failure message
                  return alert(msg);
              }
  
              // Show a success message to the buyer
              alert('Transaction completed by ' + orderData.payer.name.given_name);
          });
      }
  
  
  }).render('#paypal-button-container');

    //   $(function () {
    //   $("#id_deadline").datetimepicker({
    //     format: 'd-m-Y H:i',
    //   });
    // });


    // $(document).ready(function() {
    //     $('#ongoingTask').DataTable();
    //     $('#completeTask').DataTable();
    //     $('#taskReview').DataTable();
    // } );

    // $(function () {
    //     $("#id_writers_deadline").datetimepicker({
    //     format: 'Y-m-d H:i',
    //     });
    // }); 
  </script>












<script>
    

  </script>
</body>

</html>-
