{% include 'links.html' %}
{% include 'header.html' %}
<hr>
<div class="container">
	<div class="card-header">
		About Us
	</div>
	<div class="card-body">
	<p>Elite Homework Master is a community of professional writers certified with advanced degrees in various fields who help craft sample essays, research papers and solutions to students in US, UK, Australia, Canada, Singapore, Malaysia and other countries around the globe.</p>

    <p>We have been in the writing industry for over a decade. This gives a great advantage in terms of the experience, which we put into every paper written by our team.</p> 

    <p> Growth</p>
    <p> To ensure our writers deliver quality we ecourage and sponsor learning opportunities that have heped us create quality content that is often appreciated by our customers. That explains why 60% of our customers work with us for over 2 years.</p>


    <ul> 
    <li>Here are some of the attributes that describe us:</li>
    <li>We handle 99% of all orders placed owing to the great competence of our writers.</li>
    <li>We are open for 24 hours a day, 7 days a week and 12 months in a year to ensure not a single day will you need us and miss us.</li>
    <li>All our writers are selected through a rigorous selection process that ensures only the very best work with us.</li>
    <li>Our company sponsors writer learning to ensure tour content quality improves with time</li>
    <li>We can handle long papers with short deadlines. Think an A+ 20-page cannot be done in 8 hours? Try us</li>
    <li>If you have a paper that is due, now is the best time to order before it is too late!</li>
	</ul>
</div>


