{% include 'links.html' %}
{% include 'header.html' %}
<hr>
<div class="container">
	<div class="card-header">
		Contacts
	</div>
	<div class="card-body">
		<p>	How you can reach us </p>
		<p>	We have several options you can use to reach our customer support team in case you need assistance in placing an order, tracking your order or any other issue that may arise. Choose the option that suits you best.</p>

		<p> Call us: +1(840)206-7143</p>

		<p> Email Us: sales@elitehomeworkmaster.com</p>

		<p> Chat with us : You can click on the live chat option at the bottom right-hand corner to chat with a support representative at any time.</p>

		<p> The most recommendend option is live chat or email since you will always have a report on any conversation held with our team for future reference </p>

		<p> Elite HomeworkMasters LTD </p>

		<p> Dayle Beswat 9, Boers, 98010 </p>

		<p> Greece.</p>

		<p> +781325292459</p>
	</div>
</div>