{% include 'links.html' %}
{% include 'header.html' %}
<hr>
<div class="container">
	<div class="card-header">
		Refund Policy
	</div>
	<div class="card-body">
        <p>To us every customer is special. When you succeed, we succeed as well. Consequently, all our prices are backed by a
            money back guarantee.</p>

        <p>We guarantee 80% and above on all tasks we deliver. If that is not met, something that rarely occurs, 
            the following refund policy applies:</p>

        <p>Grade	Refund</p>
        <p>80% and above	No Refund</p>
        <p>70-79%	10% Refund</p>
        <p>60-69%	50% Refund</p>
        <p>59% and below	100% Refund</p>
        <p>Our Refund process</p>
        <p>Our refund process is very smooth and takes less than 7 days if you help us through.</p>

        <p>Please Note:</p>
        <p>Requesting charge-backs via our payment processor is not recommended. We have no control of how long</p> 
            it can take to receive your funds and it could cost you more in the long-run.</p>
        <p>Following the process below is the quickest way to have your issue resolved.</p>

        <p>These are the steps:</p>

        <p>1. If you are not happy with the task delivered (make sure you provide a credible reason), inform our support team.</p>
        <p>2. The support representative will forward the case to the dispute department.</p>
        <p>3. Our dispute resolution department will evaluate the case and determine the case in your favor or the writer’s favor.</p>
        <p>4. If the case is ruled in your favor and you qualify for a refund as per the policy above, the refund amount shall be 
            credited into your account balance as shown below. how to request refund oon elitehomeworkmaster.com</p>
        <p>5. Once credited, this amount can be used as credit for a future task or you can request 
            withdrawal upon which the amount will be will be sent to you via your preferred mode of payment.
            All refunds are done with 7 days of notification</p>

        <p>Cancellation of orders due to the client's fault attracts a 10% charge on the amount paid.</p>

        <p>Disclaimer</p>
        <p>Please note for you to receive any refund, you must provide verifiable proof that the score on 
            the task delivered is as stated within 30 days from the date of purchase.</p>

        <p>We look forward to serving you !</p>
    </div>
    <hr>
    <div class="card-header">
    Privacy Policy
    </div>
    <div class="card-body">
        <p>Our Privacy Policy
        This advertisement outlines the general information about our privacy policy that entails the collection,usage, 
        disclosure, and protection of our users’ personal information that is gathered on this website.</p>

        <p>This site, inclusive of all services offered hereon, is owned and operated by elitehomeworkmaster.com as well as its affiliates 
        (collectively, “ We” or “elitehomeworkmaster.com”). All services offered through this website can be accessed from any mobile phone or 
        computer by a user at one-on-one tutoring as provided by the site.</p>

        <p>elitehomeworkmaster.com is equally committed to protect and respect the confidentiality of all personal information 
        gathered in the course of business which gives us no option but to take the necessary steps to ensure that the personal data is 
        stored in secure and safe databases that are only accessible by the authorized parties during the performance of their responsibilities.</p>

        <p>We recognize the importance of letting our clients understand our privacy policy concerning their data,which we keep changing over
        time to make our operations effective. Please note that in case we change our privacy policy, mostly due to particular changes in the law,
        business, or technology, all the revisions will be posted here. Upon posting them here, the revisions are deemed effective, and your 
        continued usage of this website will be subject to the changes in the terms of the privacy policy.</p>

        <p>Collection of your Personal Data
        We collect personal data from you when you use our site or when you provide us with it. Occasionally, we obtain your data from third parties.
        The personal information includes: Name, Telephone, Address, Demographic Information,IP Address, Access time and Browser types</p>

        <p>Please note that we are not liable for any personal identification information that is directly posted by our client in the 
        elitehomeworkmaster.com public message boards. Therefore, do not disclose any sensitive personaldata as it might be collected and used by other 
        unauthorized parties.</p>

        <p>In case of payment transactions with us, please note that your payment details are not held by us but by a third-party payment processor, 
        which is specialized in secure online capture and handling of such vital and sensitive payment transactions.</p>

        <p>Use of your Personal Data
        The personal data collected by elitehomeworkmaster.com is strictly used for delivery of services requested by ourclients. We can also use
        your personal information to keep you up to date with the changes in ourservice delivery. elitehomeworkmaster.com can also contact you via 
        surveys or research to offer your opinions that will enable our performance improvement.</p>

        <p>Kindly note that elitehomeworkmaster.com does not lease, rent or sell the lists of customers to third party vendors. We may contact you from time
        to time on behalf of third party partners about an offering that might interest you. In such a case, your data is not shared with the third 
        party.</p>

        <p>We do not disclose your data without your consent or notice, only if in good faith of a necessary legal action by the law and also to 
        defend and protect the rights of elitehomeworkmaster.com, its users and the public.</p>
    </div>
</div>


