{% include 'links.html' %}
{% include 'header.html' %}
<hr>
<div class="container">
	<div class="card-header">
		Contacts
	</div>
	<div class="card-body">
		<h2>Step 1: Fill Order Form</h2>
		<p>	Provide us with the precise details of how you need the order completed</p>

        <h2>Step 2: Make payment</h2>
        <p>	Our payment process is secure. All payments are handled by a reputable third party company</p>
        
        <h2>Step 3: Log in to Track your order </h2>
        <p>	Upload attachments/files. Contact support in case of any problem.</p>
        
        <h2>Step 4: Order is Completed</h2>
		<p>	Download completed order in your account .</p>
		
	</div>
</div>