{% extends "account/base.html" %}
{% load static %} 
{% block content %} 
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>
     Assignment - Homework Doer
    </title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../assets/images/favicon.png"
    />
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
  </head>

  <body class="h-100">
    <style>
    </style>
    <!--*******************
        Preloader start
    ********************-->
    <!--*******************
        Preloader end
    ********************-->

    <div class="">
      <div class="container">
        <div class="row justify-content-center h-100">
          <div class="col-xl-6">
            <div class="form-input-content">
              <div class="card login-form mb-0">
                <div class="card-body pt-5">
                  <a class="text-center"> <h4>Elite Homework Master</h4></a>
                  {%if messages%}
                  <div class="alert alert-danger">
                    {% for message in messages %} {% if forloop.first %}
                    {{message}} {% endif %} {% endfor %}
                  </div>
                  {%endif%} 
                  <form class="" method="POST">
                    {% csrf_token %} 
                    {{ form |crispy }}
                    <input type="submit" value="Login" class="btn btn-warning w-100">
                  </form>
                  <div class="row">
                    <div class="col col-md-6">
                      <p class="mt-5 login-form__footer">
                        Dont have account?
                        <a
                          href="{% url 'authentication:sign_up' %}"
                          class="text-primary"
                          >Sign Up</a
                        >
                        now
                      </p>
                    </div>
                    <div class="col col-md-6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'js/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>
  </body>
</html>

{% endblock %}
